
<div>
  <br>
    <h1 style="text-align: center;"  class="modal-title">Añadir Nuevo Ciclo</h1>

  </div>
  <form [formGroup]="myForm">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4"><img [src]="Imgsrc" style="max-width: 300px; margin-left: 5%;" (click)="file.click()"/></div>
        <div class="col-lg-4"></div>
      </div>
        <br>
        <div class="form-group">
          <label for="titulo">Foto</label>
          <input type="file" 
            class="form-control"
              (change)="cambiaPreview($event);handleFileSelect($event)" #file accept="image/*"/>
        </div>
        <br>
        <div class="form-group">
          <label for="name">Nombre del Ciclo</label>
          <input type="text" 
            class="form-control"
            formControlName="Nombre" />
            <div class="text-danger" *ngIf="isSubmitted && formControls.Nombre.errors?.required">Este campo es necesario</div>
        </div>
        
        <br>
        <div class="form-group">
          <label for="descripcion">Tipo de evaluación</label>
          <br>
         
          <select type="text" class="form-control" formControlName="TipoEvaluaciones" (change)="cambiarEvaluacion($event)">
            <option  *ngFor="let item of arrayEvaluaciones">{{item}}</option>
          </select>
          <div class="text-danger" *ngIf="isSubmitted && formControls.TipoEvaluaciones.errors?.required">Este campo es necesario</div>
        </div>
        <button class="btn btn-success" (click)="registrarEvaluacion()">
          Nueva evaluación
         </button>
         <br>
        <br>
        <div class="form-group">
          <label for="name">Horas</label>
          <input type="number" readonly
            class="form-control"
            formControlName="Horas"/>
            <div class="text-danger" *ngIf="isSubmitted && formControls.Horas.errors?.required">Este campo es necesario</div>
        </div>
        <br>
        <button class="btn btn-success" (click)="registrarModulo()">
            Nuevo Modulo
           </button>
<br>
<br>
        
          
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Horas</th>
                <th>Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let modulo of arrayModulos | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{modulo.Nombre}}</td>
                <td>{{modulo.Horas}}</td>
                <td><button class="btn btn-danger" (click)="borrarModulo(modulo)">Eliminar</button></td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>


          
      </div>
      </div>
    <div>
      <button class="btn btn-success"
        (click)="submitForm(myForm.value)" style="margin-left: 90%;">
        Añadir
      </button>
    </div>
  </form>
<br>
<br>