
<div>
    <h1 style="text-align: center;"  class="modal-title">Añadir Nuevo Ciclo</h1>

  </div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)">
    <div>
      <div class="container">
        <div class="form-group">
          <label for="name">Nombre del Ciclo</label>
          <input type="text" 
            class="form-control"
            formControlName="Nombre" />
            <div class="text-danger" *ngIf="isSubmitted && formControls.Nombre.errors?.required">Este campo es necesario</div>
        </div>
        <button class="btn btn-success" (click)="registrarModulo()">
            Nuevo Modulo
           </button>

        <mat-form-field>
         
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Sistemas">
          </mat-form-field>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          

          
            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let modulo"> {{modulo.nombre}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="horas">
              <th mat-header-cell *matHeaderCellDef> Horas </th>
              <td mat-cell *matCellDef="let modulo"> {{modulo.horas}} </td>
            </ng-container>

          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          


          
      </div>
      </div>
    <div>
      <button class="btn btn-success"
        >
        Añadir
      </button>
    </div>
  </form>
