<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
<mat-toolbar style="background-color: rgb(255, 255, 255);"  fxShow="true" fxHide.lt-md >
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <div> DualAPP<span style="opacity:0;">.</span></div>
  <span></span>
<div>
  
    <button mat-button (click)="verEmpresas()">Empresas</button>
    <button mat-button [matMenuTriggerFor]="menuCuentas">Cuentas</button>
    <mat-menu #menuCuentas="matMenu">
        <button mat-menu-item (click)="eleccionCuentasP()">
          <mat-icon>perm_identity</mat-icon>
          <span>Profesores</span>
        </button>
        <button mat-menu-item (click)="eleccionCuentasA()">
          <mat-icon>perm_identity</mat-icon>
          <span>Alumnos</span>
        </button>
        <button mat-menu-item (click)="eleccionCuentasT()">
            <mat-icon>perm_identity</mat-icon>
            <span>Tutores Empresa</span>
          </button>
      </mat-menu>
      <button mat-button (click)="verCiclos()">Ciclos</button>
    </div>
    <!--   --> 
    
   
 <div style="margin-left: 65%;">
<img mat-mini-fab class="imgProfile" [src]="usuario.Foto" [matMenuTriggerFor]="menuUsuario" style="width: 40px;height: 40px; border-radius: 60%;"/>
<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item (click)="miPerfil()">
    <mat-icon>perm_identity</mat-icon>
    <span>Mi Perfil</span>
  </button>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>cancel_presentation</mat-icon>
    <span>Cerrar sesión</span>
  </button>

</mat-menu>
</div>


</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" style="width: 200px;">
        <mat-nav-list>
          <h2>Lista Alumnos</h2>   
          <mat-divider></mat-divider>
          <br>
           <!--  <li *ngFor="let alumno of arrayAlumnos" (click)="verAlumno(alumno)"><label>{{alumno.Nombre}} {{alumno.Apellido}}</label></li>-->
<div *ngFor="let alumno of arrayAlumnos">
           <mat-card class="example-card imgProfile" (click)="verAlumno(alumno)">
          
             <!-- <mat-card-title (click)="verAlumno(alumno)">{{alumno.Nombre}} {{alumno.Apellido}}</mat-card-title> 
              <li (click)="verAlumno(alumno)"><label>{{alumno.Nombre}} {{alumno.Apellido}}</label></li>     -->
           
           
           
             
                
                  <tbody>
                    <tr>
                      <th scope="row"><img mat-mini-fab src="https://material.angular.io/assets/img/examples/shiba2.jpg" [matMenuTriggerFor]="menuUsuario" style="width: 40px;height: 40px; border-radius: 60%;"/></th>
                      <td style="font-size: 12px">{{alumno.Nombre}} {{alumno.Apellido}}</td>

                    </tr>
             
                  </tbody>
               
             
           
            
             </mat-card>

            </div>


        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content style="background-color:rgb(247, 248, 252)">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>



