<ng-container *ngIf="detalles">

<div class="modal-header" #child1>
    <h1 class="modal-title">Detalles de la tarea</h1>
    <button type="button" class="close" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')">X
    </button>
  </div>
  <form [formGroup]="myForm">
    <div class="modal-boy">
      <div class="container">

        <br>
          <p><label for="name">Descripcion: {{Tarea.Nombre}}</label></p>
          <p><label for="name">Horas: {{Tarea.Horas}}</label></p>
          <p><label for="name">Comentarios: </label></p>
          
        <div class="form-group">
         <table style="width: 100%;"  class="table table-bordered">
            <tr>
                <th>Fecha</th>
                <th>Descripción de la actividad</th>
                <th>Horas</th> 
                <th>Adjunto</th>
                <th>Autoevaluacion</th>
                <th>Operaciones</th>
            </tr>
            <tr *ngFor="let actividad of arrayActividades">
                <td>{{actividad.Fecha}}</td>
                <td>{{actividad.Nombre}}</td>
                <td>{{actividad.Horas}}</td>
                <td>{{actividad.Adjunto}}</td>
                <td>{{actividad.Autoevaluacion}}</td>
                <td></td>
            </tr>
        </table>
        </div>
<div class="row">
    <div class="col col-lg-1"></div>
    <div class="col col-lg-4" style="background-color: cadetblue; color: white;">Evaluación Profesor</div>
    <div class="col col-lg-1"></div>
    <div class="col col-lg-4" style="background-color: cadetblue; color: white;">Evaluación Tutor laboral</div>
    <div class="col col-lg-1"></div>
</div>
<div class="row">
    <div class="col col-lg-1"></div>
    <div class="col col-lg-4"><select><option>A</option><option>B</option><option>C</option><option>D</option><option>E</option></select></div>
    <div class="col col-lg-1"></div>
    <div class="col col-lg-4"><select><option>A</option><option>B</option><option>C</option><option>D</option><option>E</option></select></div>
    <div class="col col-lg-1"></div>
</div>

<br>
      </div>
      </div>
    <div class="modal-footer">
      <button class="btn btn-success"
        (click)="submitForm(myForm.value)">
        Añadir
      </button>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="!detalles">
    <div class="modal-header" #child1>
        <h1 class="modal-title">Añadir actividad</h1>
        <button type="button" class="close" aria-label="Close"
         (click)="activeModal.dismiss('Cross click')">X
        </button>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-boy">
          <div class="container">
    
<br>
    <div class="form-group">
        <label for="name">Fecha</label>
        <input type="date" 
          class="form-control"
          formControlName="Fecha" />
          <div class="text-danger" *ngIf="isSubmitted && formControls.Fecha.errors?.required">Este campo es necesario</div>
      </div>
      <div class="form-group">
        <label for="number">Horas</label>
        <input type="number" 
          class="form-control"
          formControlName="Horas" />
          <div class="text-danger" *ngIf="isSubmitted && formControls.Horas.errors?.required">Este campo es necesario</div>
      </div>
      <div class="form-group">
        <label for="name">Descripción</label>
        <input type="text" 
          class="form-control"
          formControlName="Nombre" />
          <div class="text-danger" *ngIf="isSubmitted && formControls.Nombre.errors?.required">Este campo es necesario</div>
      </div>
      <div class="form-group">
        <label for="name">Adjunto</label>
        <input type="file" 
          class="form-control"
          formControlName="Adjunto" />
          <div class="text-danger" *ngIf="isSubmitted && formControls.Adjunto.errors?.required">Este campo es necesario</div>
      </div>
      <div class="form-group">
        <label for="name">Autoevaluación</label>
        <select type="text" class="form-control" formControlName="Autoevaluacion">
          <option selected>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
          <option>E</option>
        </select>
          <div class="text-danger" *ngIf="isSubmitted && formControls.Autoevaluacion.errors?.required">Este campo es necesario</div>
      </div>
      </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success"
          (click)="submitForm(myForm.value)">
          Añadir
        </button>
      </div>
      </form>
</ng-container>