<h1>PROFESORES COMPONENT</h1>

    <div class="row">
        <div class="col-lg-3">
            <div  style="margin-left: 5px;">
                <h3>Lista Alumnos</h3>
                <nav>
                <ul>
                <li *ngFor="let alumno of arrayAlumnos" (click)="verAlumno(alumno)"><label>{{alumno.username}} {{alumno.Apellido}}</label></li>
                </ul>
                </nav>
                </div>
        </div>

        <div class="col-lg-8" *ngIf="alumnoData">
            <app-datos-alumno></app-datos-alumno>
        </div>
        <div class="col-lg-9" *ngIf="!alumnoData && lugar=='alumno'" >
            <div *ngIf="!alumnoData && eleccionCuentas=='alumno'">
            <h3>Alumnos</h3>
            <button class="btn btn-success"  (click)="registrarAlumno()" style="margin-left: 80%;">Registrar alumno</button>
            <br>
            <br>
            <table class="table" style="width: 97%;">
                <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Instructor</th>
                <th>Colaborador</th>
                <th>Fecha de creación</th>
                <th>Ciclo Formativo</th>
                <th>Modalidad Contrato</th>
                <th>Operaciones</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of arrayAlumnos">
                    <td style="width: 41%;">{{alumno.Nombre}} {{alumno.Apellido}}</td>
                    <td>{{alumno.Instructor}}</td>
                    <td>{{alumno.Colaborador}}</td>
                    <td>{{alumno.FechaCreacion}}</td>
                    <td>{{alumno.CicloFormativo}}</td>
                    <td style="width: 16%;">{{alumno.ModContrato}}</td>
                    <td  style="width: 35%;"><button class="btn btn-warning" (click)="editarUsuario(alumno)">Editar</button> &nbsp; <button class="btn btn-danger" (click)="eliminarUsuario(alumno.id)">eliminar</button></td>
                </tr>
            </tbody>
            </table>
            
            
            
            </div>
            <div *ngIf="!alumnoData && eleccionCuentas=='profesor'">
                <h3>Profesores</h3>
                <button class="btn btn-success" (click)="registrarProfesor()" style="margin-left: 80%;">Registrar profesor</button>
                <br>
                <br>
                <table class="table" style="width: 97%;">
                    <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Fecha de creación</th>
                    <th>Operaciones</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let profesor of arrayProfesores">
                        <td style="width: 41%;">{{profesor.Nombre}} {{profesor.Apellido}}</td>
                        <td>{{profesor.email}}</td>
                        <td>{{profesor.FechaCreacion}}</td>
                        <td  style="width: 28%;"><button class="btn btn-warning" (click)="editarUsuario(profesor)">Editar</button> &nbsp; <button class="btn btn-danger" (click)="eliminarUsuario(profesor.id)">eliminar</button></td>
                    </tr>
                </tbody>
                </table>
                
                
                
                </div>
                <div *ngIf="!alumnoData && eleccionCuentas=='tutorempresa'">
                    <h3>Tutores empresa</h3>
                    <button class="btn btn-success"  (click)="registrarTutor()" style="margin-left: 76%;">Registrar tutor empresa</button>
                    <br>
                    <br>
                    <table class="table" style="width: 95%;">
                        <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Fecha de creación</th>
                        <th>Operaciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tutor of arrayTutores">
                            <td style="width: 41%;">{{tutor.username}} {{tutor.Apellido}}</td>
                            <td>{{tutor.email}}</td>
                            <td>{{tutor.FechaCreacion}}</td>
                            <td  style="width: 28%;"><button class="btn btn-warning" (click)="editarUsuario(tutor)">Editar</button> &nbsp; <button class="btn btn-danger" (click)="eliminarUsuario(tutor.id)">eliminar</button></td>
                        </tr>
                    </tbody>
                    </table>
                    
                    
                    
                    </div>
            <div  *ngIf="!alumnoData && eleccionCuentas=='ninguno'">
                <app-perfilusuarios></app-perfilusuarios>
            </div>
        </div>
        <div class="col-lg-9" *ngIf="!alumnoData && lugar=='ciclo'" >
<app-ciclos></app-ciclos>
        </div>
    </div>
