<div class="modal-header" #child1>
        <h1 class="modal-title">Nueva evaluación</h1>
        <button type="button" class="close" aria-label="Close"
         (click)="activeModal.dismiss('Cross click')">X
        </button>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)">
        <div class="modal-boy">
          <div class="container">
            <div class="form-group">
              <label for="name">Evaluación 1</label>
              <input type="text" 
                class="form-control"
                formControlName="ev1" />
                <div class="text-danger" *ngIf="isSubmitted && formControls.ev1.errors?.required">Este campo es necesario</div>
            </div>
            <div class="form-group">
              <label for="name">Evaluación 2</label>
              <input type="text" 
                class="form-control"
                formControlName="ev2" />
                <div class="text-danger" *ngIf="isSubmitted && formControls.ev2.errors?.required">Este campo es necesario</div>
            </div>
            <div class="form-group">
              <label for="name">Evaluación 3</label>
              <input type="text" 
                class="form-control"
                formControlName="ev3" />
                <div class="text-danger" *ngIf="isSubmitted && formControls.ev3.errors?.required">Este campo es necesario</div>
            </div>
            <div class="form-group">
              <label for="name">Evaluación 4</label>
              <input type="text" 
                class="form-control"
                formControlName="ev4" />
                <div class="text-danger" *ngIf="isSubmitted && formControls.ev4.errors?.required">Este campo es necesario</div>
            </div>
            <div class="form-group">
              <label for="name">Evaluación 5</label>
              <input type="text" 
                class="form-control"
                formControlName="ev5" />
                <div class="text-danger" *ngIf="isSubmitted && formControls.ev5.errors?.required">Este campo es necesario</div>
            </div>
            <div class="form-group">
              <label for="name">Evaluación 6</label>
              <input type="text" 
                class="form-control"
                formControlName="ev6" />
            </div>
            <div class="form-group">
              <label for="name">Evaluación 7</label>
              <input type="text" 
                class="form-control"
                formControlName="ev7" />
               
            </div>
            <div class="form-group">
              <label for="name">Evaluación 8</label>
              <input type="text" 
                class="form-control"
                formControlName="ev8" />
               
            </div>
            <div class="form-group">
              <label for="name">Evaluación 9</label>
              <input type="text" 
                class="form-control"
                formControlName="ev9" />
               
            </div>
            <div class="form-group">
              <label for="name">Evaluación 10</label>
              <input type="text" 
                class="form-control"
                formControlName="ev10" />
             
            </div>
          </div>
          </div>
        <div class="modal-footer">
          <button class="btn btn-success"
            >
            Añadir
          </button>
        </div>
      </form>