<!--  CARD DE LOS CICLOS  -->

<div style="align-content: center;">
<h1>CICLOS</h1>
</div>

<button class="btn btn-success" style="margin-left: 80%;" (click)="crearCiclo()">Añadir ciclo</button>
<br>
<br>
<input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="term" style="width: 50%;">
<br>
<br>
<nav>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px" *ngIf="!detalles && !tareas">
    <mat-card class="example-card" *ngFor="let ciclo of ciclosArray | filter:term" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ciclo.Nombre}}</mat-card-title>
        <mat-card-subtitle> {{ciclo.Profesor}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button class="btn btn-warning" (click)="verModulos(ciclo)">Ver módulos</button> &nbsp;
        <button class="btn btn-warning">editar</button> &nbsp;
        <button class="btn btn-danger" (click)="borrarCiclo(ciclo)">Eliminar</button>
    </mat-card-actions>
    </mat-card>

  </div>




<!--   TABLAS MODULOS   -->
<table class="table" *ngIf="detalles && !tareas" style="width: 95%;">
    <thead class="thead-dark">
        <tr>
        <th>Nombre</th>
        <th>Operaciones</th>
    </tr>
    </thead>
    <tbody>
<tr *ngFor="let modulo of modulosArray">
<td>{{modulo.Nombre}}</td>
<td><button class="btn btn-warning" (click)="verTareas(modulo)">Ver tareas</button> &nbsp; <button class="btn btn-warning">Editar</button> &nbsp; <button class="btn btn-danger">eliminar</button></td>
</tr>
    </tbody>
</table>

<!--   TABLAS TAREAS   -->
<table class="table" *ngIf="tareas">
    <thead class="thead-dark">
        <tr>
        <th>Nombre</th>
        <th>Operaciones</th>
    </tr>
    </thead>
    <tbody>
<tr *ngFor="let tarea of tareasArray">
<td>{{tarea.Nombre}}</td>
<td><button class="btn btn-warning">Editar</button> &nbsp; <button class="btn btn-danger">eliminar</button></td>
</tr>
    </tbody>
</table>




  