<nav  style="text-align: center;">


<img mat-mini-fab class="imgProfile" src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="max-width: 350px; border-radius: 60%;"/><br><br>

            <h1 style="font-family: 'Manrope', serif;">Bienvenido Adrian,</h1>
    <mat-divider></mat-divider>
    <br>
    <mat-card>

                <h2>Mis Datos</h2>


                <div>
                    Nombre: &nbsp; {{usuario.Nombre}} {{usuario.Apellido}}
                    <br><br>
                    Correo:  &nbsp;{{usuario.email}}
                    <br><br>
                    Dirección:  &nbsp;{{usuario.Direccion}}
                    <br><br>
                    CP:  &nbsp;{{usuario.Cp}}
                    <br>  <br>                               
                    Fecha de Nacimiento:  &nbsp;
                    <br><br>
                    DNI:  &nbsp;{{usuario.Dni}}
                    <br><br>
                    Teléfono:  &nbsp;{{usuario.Telefono}}

                   


                  </div>
                  



    </mat-card>

</nav>