<nav  style="text-align: center;">


<img mat-mini-fab class="imgProfile" src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="max-width: 350px; border-radius: 60%;"/><br><br>

            <h1 style="font-family: 'Manrope', serif;">Bienvenido Adrian,</h1>
    <mat-divider></mat-divider>
    <br>
    <mat-card>

                <h2>Mis Datos</h2>


                <div>
                    Usuario:
                    <br><br>
                    Nombre:
                    <br><br>
                    Correo:
                    <br><br>
                    Dirección:
                    <br><br>
                    CP:
                    <br>  <br>                               
                    Fecha de Nacimiento:
                    <br><br>
                    DNI:
                    <br><br>
                    Teléfono:

                   


                  </div>
                  



    </mat-card>

</nav>