
 

    <h1 style="text-align: center;font-style: italic;margin-top: 2%;">MI CUENTA</h1>
    <div class="row">
      <!-- Columna Izquierda -->
      <div class="col" style="margin-top: 5%;text-align: center;">
      
        <img mat-mini-fab class="imgProfile" src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="max-width: 150px; border-radius: 50%"/><br>
       <h4 style="font-style: italic;font-size: 20px;margin-top: 1%;">{{localstorage.Nombre}}</h4>
       <button mat-raised-button ><mat-icon>https</mat-icon> Cambiar contraseña</button><br><br>
       <button mat-raised-button style="width: 21%;"><mat-icon>account_circle</mat-icon> Editar perfil</button>



      </div>
       <!-- Columna Derecha -->
      <div class="col-6">
   
         <h4 style="font-style: italic;font-size: 20px;margin-top: 20%;margin-right: 10%;"><mat-icon>account_box</mat-icon>Mi Perfil</h4>

        <form>
          <div class="form-group">
            <label for="NombreLabel">Nombre</label>
            <input disabled style="width: 70%;" type="text" class="form-control mb-2" id="NombreLabel" value="{{localstorage.Nombre}}">
           
          </div>
          <div class="form-group">
            <label for="ApellidoLabel">Apellido</label>
            <input disabled style="width: 70%;" type="text" class="form-control" id="ApellidoLabel" value="{{localstorage.Apellido}}">
          </div>

          <div class="form-group">
            <label for="EmailLabel">Email</label>
            <input disabled style="width: 70%;" type="text" class="form-control" id="EmailLabel" value="{{localstorage.email}}">
          </div>

          <div class="form-group">
            <label for="TelefonoLabel">Teléfono</label>
            <input disabled style="width: 70%;" type="text" class="form-control" id="TelefonoLabel" value="{{localstorage.Telefono}}">
          </div>



          <div class="form-group">
            <label for="inputDireccion">Dirección</label>
            <input disabled type="text" class="form-control" id="inputDireccion" value="{{localstorage.Direccion}}">
          </div>
     
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCiudad">Ciudad</label>
              <input disabled type="text" class="form-control" id="inputCiudad" value="{{localstorage.Nombre}}">
            </div>

            <div class="form-group col-md-4">
              <label for="inputProvincia">Provincia</label>
              <input disabled type="text" class="form-control" id="inputProvincia" value="{{localstorage.Nombre}}">
              
            </div>

            <div class="form-group col-md-2">
              <label for="inputCodigopostal">Código postal</label>
              <input disabled type="text" class="form-control" id="inputCodigopostal" value="{{localstorage.Cp}}">
            </div>
          </div>

         
        </form>

      </div>
 </div>
  
  

 

