<div class="modal-header" #child1>
    <h1 class="modal-title">Nuevo Modulo</h1>
    <button type="button" class="close" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')">X
    </button>
  </div>
  <form [formGroup]="myForm">
    <div class="modal-boy">
      <div class="container">

        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" 
            class="form-control"
            formControlName="Nombre" />
            <div class="text-danger" *ngIf="isSubmitted && formControls.Nombre.errors?.required">Este campo es necesario</div>
        </div>
        <div class="form-group">
          <label for="name">Horas módulo</label>
          <input type="number" 
            class="form-control"
            formControlName="Horas"/>
            <div class="text-danger" *ngIf=" isSubmitted && formControls.Horas.errors?.required">Este campo es necesario</div>

        </div>
        <hr color="black" size=2 width="100%">     
        <br> 
        <div class="form-group">
          <label for="name">tarea</label>
          <input type="text" formControlName="tarea" 
          class="form-control"/>
          <div class="text-danger" *ngIf=" issub && tareaEscrita && formControls.tarea.errors?.required">Este campo es necesario</div>
        </div>
        <div class="form-group">
          <label for="name">Horas tarea</label>
          <input type="number" 
            class="form-control"
            formControlName="HorasTarea" />
            <div class="text-danger" *ngIf=" issub && tareaEscrita && formControls.HorasTarea.errors?.required">Este campo es necesario</div>
        </div>

       

       
        <div class="form-group">
        <button class="btn btn-success" (click)="anadirTarea()">Añadir</button>
        </div>
       <div class="form-group">
         <table class="table">
           <tr>
             <th>Nombre</th>
             <th>Horas</th>
           </tr>
           <tr *ngFor="let tarea of arrayTareas | paginate: { itemsPerPage: 3, currentPage: r }">
            <td>{{tarea.Nombre}}</td> 
            <td>{{tarea.Horas}}</td> 
           </tr>
          </table>
          <pagination-controls (pageChange)="r = $event"></pagination-controls>
       </div>
      </div>
      </div>
    <div class="modal-footer">
      <button class="btn btn-success"
        (click)="submitForm(myForm.value)">
        Añadir
      </button>
    </div>
  </form>