<div class="modal-header" #child1>
        <h1 class="modal-title">Editar Empresa</h1>
        <button type="button" class="close" aria-label="Close"
         (click)="activeModal.dismiss('Cross click')">X
        </button>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)">
        <div class="modal-boy">
           <div class="container">
            <img [src]="Imgsrc" style="max-width: 260px; margin-left: 25%;" (click)="file.click()"/>
            <div class="form-group">
                    <label for="titulo">Foto</label>
                    <input type="file" 
                      class="form-control"
                        (change)="cambiaPreview($event);handleFileSelect($event)" #file accept="image/*"/>
                  </div>
          <div class="form-group">
            <label for="name">Nombre de la Empresa</label>
            <input type="text" 
              class="form-control"
              formControlName="Nombre" />
              <div class="text-danger" *ngIf="isSubmitted && formControls.Nombre.errors?.required">Este campo es necesario</div>
          </div>
          
          <div class="form-group">
            <label for="name">Direccion</label>
            <input type="text" 
              class="form-control"
              formControlName="Direccion" />
              <div class="text-danger" *ngIf="isSubmitted && formControls.Direccion.errors?.required">Este campo es necesario</div>
          </div>

          <div class="form-group">
            <label for="name">Teléfono</label>
            <input type="text" 
              class="form-control"
              formControlName="Telefono" />
              <div class="text-danger" *ngIf="isSubmitted && formControls.Telefono.errors?.required">Este campo es necesario</div>
          </div>

  

 <div class="form-group">
              <label for="name">Email</label>
              <input type="text" 
                class="form-control"
                formControlName="Email" />

                <div class="alert alert-danger" *ngIf="myForm.controls['Email'].hasError('pattern')">
                  Porfavor introduzca un Email válido.
                </div>
            </div>




          <br>
          <div class="form-group">
            <label for="descripcion">Tutor de Empresa</label>
            <br>
           
            <select type="text" class="form-control" formControlName="TutorEmpresa" (change)="cambiarProfesor($event)">
              <option  *ngFor="let item of arrayTutores">{{item.Nombre}} {{item.Apellido}}</option>
            </select>
            <div class="text-danger" *ngIf="isSubmitted && formControls.TutorEmpresa.errors?.required">Este campo es necesario</div>
          </div>
          <br>
    
       
   
  
  
            
        </div>
          </div>
        <div class="modal-footer">
          <button class="btn btn-success"
            >
            Añadir 
          </button>
        </div>
      </form>