<nav>
    <br>
    <div style="background-color: #C4FFEC;">
<p>ID: {{alumno.id}}</p>
<p>Nombre: {{alumno.Nombre}} {{alumno.Apellido}}</p>
<p>Instructor: {{alumno.Instructor}}</p>
<p>Colaborador: {{alumno.Colaborador}}</p>
<p>Fecha de creación: {{alumno.FechaCreacion}}</p>
<p>Ciclo Formativo: {{alumno.CicloFormativo}}</p>
    </div>

<br>
<table class="table">
    <thead>
        <tr>
        <th>Modulo</th>
        <th>Descripcion</th>
        <th>Horas</th>
        <th>Operaciones</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let modulo of arrayTareasyModulos">
            <td>{{modulo.Nombre}}</td>

            <td>{{modulo.tarea}}</td>
            <td>{{modulo.Horas}}</td>
            <td><button class="btn btn-warning" (click)="abrirModal(modulo,true)">Detalles</button> &nbsp; <button class="btn btn-success" (click)="abrirModal(modulo,false)">Actividad</button></td>
        </tr>
    </tbody>
</table>



</nav>
